/* Algemeen */
*{
    box-sizing: border-box;
}

body {
    font-family: Open Sans, sans-serif;
    font-size: 1em;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}

h1, legend {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0;
}

/* De flex-container */
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100vw;
}

div {
    width: 100%;
}

/* het flex-item */
section, .stepIndicator {
    border-top: 1px solid #807182;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1.5em;
}

.widthBorder{
    align-items: center;
    flex-basis: 100%;
    justify-content: center;

}

section:nth-child(odd){
    background-color: #F4C8A4;
}

section:nth-child(even){
    background-color: #A4BFEB ;
}

/* Navigatie */
[role="mainNav"] h1{
    align-items: center;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    order: -1;
}

[role="mainNav"]{
    background: #807182;
    display: flex;
    flex-direction: row;
    order: 0;
    text-align: center;
    width: 100vw;
}

[role="mainNav"] ul{
    align-content: center;
    display: flex;
    flex-direction: row;
    padding: 0;
}

[role="mainNav"] ul li{
    color: white;
    display: inline;
    flex-direction: row;
    list-style-type: none;
    width: 100%;
}

[role="mainNav"] a{
    color: white;
    font-weight: 600;
    text-decoration: none;
}


/* http://koen.kivits.com/articles/pure-css-menu/ gemaakt door Koen Kivits  Gekeken hoe hij het had gedaan en vervolgens toegepast op mijn code */
/*MENUUUUU*/
.onclick-menu {
    display: inline-block;
    position: relative;
}
.onclick-menu:before {
    display: inline-block;
}
.onclick-menu:focus {
    /* clicking on label should toggle the menu */
    pointer-events: none;
}
.onclick-menu:focus .onclick-menu-content {
    opacity: 1; /*  opacity is 1 in opened state (see below) */
    pointer-events: auto; /* don't let pointer-events affect descendant elements */
    visibility: visible;
}
.onclick-menu-content {
    flex-wrap: wrap;
    opacity: 0; /* use opacity to fake immediate toggle */
    position: absolute;
    transition: visibility 0.5s;
    visibility: hidden;
    z-index: 1;
}

#menuTabProduct{
    padding-right: 0.2em;
}

[role="mainNav"] button {
    background-color: #807182;
    border: none;
    border-radius: 0;
    margin: 0;
    padding-bottom: 0.5em;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5em;
}


/* Sectie inlog */
.login {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50%;
}

input{
    font-size: 1em;
    margin-bottom: 1em;
    margin-top: 0.3em;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
    width: 100%;
}

input#field-stay-logged-in {
    width: 5%;
}

button {
    background-color: #93879B;
    border-radius: 0.3em;
    border-style: none;
    color: white;
    font-family: inherit;
    font-size: inherit;
    margin-top: 1em;
    width: 100%;
}

form {
    width: 100%;
}

/* sectie chat */
ol {
    background: white;
    border-radius: 0.5em;
    list-style-type: none;
    padding-bottom: 0.9em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    width: 100%;
}

.chat li{
    border-radius: 0.7em;
    padding-bottom: 0.3em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

.chat li:nth-child(odd) {
    align-items: flex-start;
    background-color: cornflowerblue;
/*
    display: flex;
    flex-direction: column;
    margin-top: 3%;
*/
    width: 40%;
}

.chat li:nth-child(even) {
    align-items: flex-end;
    background-color: lightgreen;
}

.chat {
    display: flex;
    flex-direction: column;
}


.chat p {
    margin-bottom: 0.3em;
    padding-top: 0.3em;
}

.chat footer p {
    color: lightslategray;
    font-size: 0.7em;
    margin: 0;
    padding-bottom: 0.1em;
}

textarea#field-message {
    border-color: white;
    border-radius: 0.3em;
    font-size: inherit;
    height: 2em;
    max-width: 100%;
    width: 100%;
}
/* sectie media item en picture with subtitle*/

img {
    width: 100%;
}

figure{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
}
/*  Ik heb geprobeerd deze code te gebruiken, maar het werkte niet. Ik had daarvoor al een werkende oplossing gevonden dus vandaar dat deze uitgecomment staat. Css secrets- Lea Verou

figure{
    width: min-content;
margin: auto;}*/

/* sectie Rating */
.rating {
   width: 100%;
}

.rating svg {
    align-content: center;
    display: flex;
    flex-direction: row;
    height: 2.8em;
}

.rating input {
    margin-right: 0;
}


.rating div {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.stepIndicator {
    background-color: #A4BFEB;
}

.stepIndicator  ol {
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    padding-left: 0;
    width: 100%;
}

.stepIndicator li {
    display: inline-block;
    padding-right: 1.8em;
}



svg {
    height: 2.8em;
    display: block;
    margin: 0 auto;
}

label {
    display: inline-block;
    width: 8em;
    text-align: center;
}

input[name="emotion"] {
    display: none;
}

input[name="emotion"] + label svg {
    transform: scale(1);
    transition: 500ms ease;
}

input[name="emotion"]:checked + label svg {
    transform: scale(2);
}

.emoji{
    cursor: pointer;
}

/* Progressbar */

progress {
    width: 100%;
}


@media (min-width: 45em) {
    section {
        flex-basis: 50%;
        max-width: 50%;
        }

    .stepIndicator , .rating {
        flex-basis: 100%;
        max-width: 100%;
        }
}

@media (min-width: 40em) {
    .stepIndicator , .rating{
        flex-basis: 30%;
        max-width: 50%;
        }
}
